.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Username {
  font-size: 2.5em;
  color: darkslategray;
  border-style: solid none;
  border-width: .01em;
  padding: .1em;
}
.Text-box {
  margin: .5em;
  padding: 1em 2em;
  background-color: grey;
}
.Text-line {
  /*margin: .2em 0em, .5em, 5em;*/
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
